
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
html,body{
    /* background:blue; */
    font-family: 'Poppins', sans-serif;
    color:black;
    overflow-x: hidden;
    width:100%;
    height:100%;
    /* font-size:1.2rem; */
    
}
.quick{
    background: #0336FF;

    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding:3px 0.5rem;
    color:white;
}

.active{
    color: #FFDE03 !important;

}

.test{
    background:#FFDE03 !important;
    color:#0336FF;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    padding:3px 0.5rem;
}
.navbar-toggler{
    background:white;
}
.navbar .nav-item .nav-link{
    color:white;
}
.get-started{
    background:#FFDE03;
    padding:5px;
    border-radius:5px;
}
.get-started-exam, .get-started-footer{
    width:120px;
    background:#FFDE03;
    border-radius: 5px;
    padding:10px;
}
.get-started .nav-link, .get-started-footer a, .get-started-exam a{
    color:#0336FF !important;
    text-decoration:none;
}
.white-text{
    color:white;
}
.take-exam{
    padding-left:1rem;
}
.login{
    margin-right:2rem;
    font-size: 1.2rem;
}
.nav-first-section{
    margin-top:6em;
}
.section-1{
    background: #0336FF;

    
}
.blue-text{
    color:#0336FF;
}
section{
    margin-top:6rem;
}
.testimonial-img{
    height:200px;
    width:200px;
    border-radius:50%;
}
.home-li, .pricing-li, .contact-li{
    margin-left:5rem;
}

.navbar .nav-item .nav-link:hover{
    color:#FFDE03;
}
.explore{
    padding:3rem 3rem;
    background: #0336FF;
    
    color:white;
}
footer{
    background:#f4f4f4;
    padding:5rem 5rem;
}

@media screen and (max-width:767px){
    .card{
        width:100% !important;
        height:100% !important;
       
    }
    .col-md-5{
       margin-bottom:2rem !important;
    }
    .col-md-4{
        text-align: center;
    }
}

@media screen and (max-width:991px){
    .get-started{
    width:100px;
    text-align:center;
    }
    .home-li, .pricing-li, .contact-li{
        margin-left:0rem;
    }
    
}
@media screen and (max-width:767px){
    .get-started-exam{
        display:none;
    }
}