
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
html,body{
    /* background:blue; */
    font-family: 'Poppins', sans-serif;
    /* color:black; */
    overflow-x: hidden;
    width:100%;
    height:100%;
}

.navbar-toggler{
    background:white;
}
.navbar .nav-item .nav-link{
    color:white;
}
.get-started{
    background:yellow;
    padding:5px;
    
    border-radius:5px;
}
.get-started .nav-link{
    color:blue !important;
}
.home-li, .pricing-li, .contact-li{
    margin-left:5rem;
}

.navbar .nav-item .nav-link:hover{
    color:yellow;
}
.pricing{
    margin-top:8rem;
    color:white;
    padding-left:1rem;
    padding-right:1rem;
}
.btn-yellow{
    background:yellow;
}
.paid{
    color:white;
}
.start, .free{
    color:blue;
}

.quick{
    background: #0336FF;

    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    padding:3px 0.5rem;
    color:white;
}
.btn-premium{
    background:white;
}
.card{
    width:300px !important;
    height:300px !important;
    border-radius: 2.5px !important;
}
.premium{
    background-color:goldenrod;
}

.plan, .price, .price-text {
    margin-top:2rem;
}
footer{
    background:#f4f4f4;
    padding:5rem 5rem;
}

.btn-sign-up{
    background:white;
    border:2px solid #FFDE03;
    border-radius: 3px;
}

.btn-sign-up:hover{
    background:#FFDE03;
}


.pricing-bg{
    background:#0336FF;
}

.forgot-password-link{
    color:#0336FF !important;
}
.forgot-password-link:hover{
    color:#0336FF !important;
    text-decoration:none;
}

.active{
    color: #FFDE03 !important;

}
.login-container{
       
    padding-top:3rem !important;
    
}
i{
    margin-right:20px;
}

.test{
    background:#FFDE03 !important;
    color:#0336FF;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    padding:3px 0.5rem;
}
.navbar-toggler{
    background:white;
}
.navbar .nav-item .nav-link{
    color:white;
}
.get-started{
    background:#FFDE03;
    padding:5px;
    border-radius:5px;
}
.get-started-exam, .get-started-footer{
    width:120px;
    background:#FFDE03;
    border-radius: 5px;
    padding:10px;
    text-align:center;
}
.get-started .nav-link, .get-started-footer a, .get-started-exam a{
    color:#0336FF !important;
    text-decoration:none;
}
.white-text{
    color:white;
}
.take-exam{
    padding-left:1rem;
    padding-bottom:2rem;
}
.login{
    margin-right:2rem;
    font-size: 1.2rem;
}
.nav-first-section{
    margin-top:6em;
}
.section-1{
    background: #0336FF;

    
}
.blue-text{
    color:#0336FF;
}
.lecturers{
    margin-top:6rem;
}
.testimonial-img{
    height:200px;
    width:200px;
    border-radius:50%;
}
.home-li, .pricing-li, .contact-li{
    margin-left:5rem;
}

.navbar .nav-item .nav-link:hover{
    color:#FFDE03;
}
.explore{
    padding:3rem 3rem;
    background: #0336FF;
    color:white;
    margin-top:2rem;
    margin-bottom:2rem;
}
footer{
    background:#f4f4f4;
    padding:5rem 5rem;
    margin-top:5rem;
}
.btn-white{
    background:white;
    border:3px solid #FFDE03;
    width:100%;

}
.btn-white:hover{
    background:#FFDE03;
    /* border:3px solid #FFDE03; */

}

@media screen and (max-width:767px){
    .card{
        width:100% !important;
        height:100% !important;
       
    }
    .card-div{
       margin-bottom:2rem !important;
    }
    .get-started-exam{
        display:none;
    }
    footer{
        text-align:center;
    }
 
   
}

@media screen and (max-width:991px){
    .get-started{
    width:100px;
    text-align:center;
    }
    .home-li, .pricing-li, .contact-li{
        margin-left:0rem;
    }
    
}





